// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&family=Roboto&display=swap');
// Vendors
$vendors : "-moz-",
"-webkit",
"-o-",
"-ms-",
"";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&family=Roboto&display=swap');
// Font
$Montserrat : 'Montserrat', sans-serif;
$Kaushan : 'Kaushan Script', cursive;
$Roboto : 'Roboto', sans-serif;

// Colors 
$mainColor : #FCE38A;
$secondaryColor :#E78483 ; 
$thirdColor :#95E1D3;
$forthColor :#85D6C4 ; 
$fifthColor :#42C286 ;